# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `.title()`, `.upper()`

* `.capitalize()` : 문자열의 첫 단어의 첫 글자만 대문자로 바꾼다.

* `.title()` : 어포스트로피나 공백 이후를 대문자로 만들어 반환한다.

* `.upper()` : 모두 대문자로 만들어 반환한다.

In [1]:
a = 'hI! Everyone, I\'m kim'

# 아래에 코드를 작성하세요.

In [2]:
#\
# a.capitalize()

# a.title()

printa.upper()

"HI! EVERYONE, I'M KIM"

### `.lower()`, `.swapcase()`

* `lower()` : 모두 소문자로 만들어 반환한다.

* `swapcase()` : 대 <-> 소문자로 변경하여 반환한다.

In [1]:
a = 'hI! Everyone, I\'m kim'

# 아래에 코드를 작성하세요.

In [2]:
#
a.lower()
a.swapcase()

"Hi! eVERYONE, i'M KIM"

### `.join(iterable)`

특정한 문자열로 만들어 반환합니다.

Iterable 을 해당 문자열을 separator 로 합쳐서 문자열로 반환합니다.

> `iterable`
>
> 각각의 요소를 하나씩 반환할 수 있는 객체를 말한다. List와 Tuple, Dictionary와 Set 등이 여기에 속한다.

In [ ]:
word = '배고파'
list_words = ['안녕', 'hello']
tuple_words = ('안녕', 'hello', 'Guten tag')
# 아래에 코드를 작성하세요.

In [ ]:
#
'!'.join(word)

In [ ]:
#
' '.join(list_words)

In [ ]:
#
'-'.join(tuple_words)

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 개수만큼만 시행합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [3]:
#
'yay!'.replace('a', '_')

'y_y!'

In [4]:
#
'wooooooooooooowooooo'.replace('o', 't', 2)

'wttooooooooooowooooo'

### `.strip([chars])`

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip), 오른쪽을 제거합니다(rstrip).

지정하지 않으면 공백을 제거합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [ ]:
#
'        og!\n     '.lstrip()

In [1]:
#
'        og!\n     '.rstrip()

'        og!'

In [ ]:
# 
'hehehehihihihihihihihihehehehehehehihihi'.rstrip('hi')

In [ ]:
#
'gegehihihihihihihihig'.rstrip('hi')

In [38]:
'gegehihihihihihihihighhhhhhhh'.rstrip('hi') #문자하나를보고 날려주는고야

'gegehihihihihihihihig'

## 탐색 및 검증

### `.find(x)` 

x가 가장 먼저 발견되는 위치를 반환합니다. 없으면, -1을 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [ ]:
#
'apple'.find('p')

In [ ]:
#
'apple'.find('f')

In [ ]:
# 
'apple'.find('apple') # 0
'applezzang'.find('apple')# 0
'applezzang'.find('appleze')# -1

### `.index(x)`

x의 첫번째 위치를 반환합니다. 없으면, 오류가 발생합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [5]:
#
'apple'.index('p')

1

In [6]:
#
'apple'.index('f')

ValueError: substring not found

## `.split()`

> 문자열을 특정한 단위로 나누어 리스트로 반환합니다.

> `.join()` 과 같이 묶어서 기억

In [ ]:
# 아래에 코드를 작성하세요.

In [1]:
#
'a_b_c'.split('_')

['a', 'b', 'c']

In [7]:
#
string_sample = 'justin hihi byebye'
string_list_sample = string_sample.split(' ')
print(string_list_sample)

['justin', 'hihi', 'byebye']

In [9]:
# 아무것도 넣지 않으면 공백을 기준으로 나눠서 list로 반환

inputs = input().split(' ')
print(inputs)

안녕 잘지내니
['안녕', '잘지내니']

In [8]:
#
sample_list = input().split()


sample_string = ''.join(sample_list)
print(sample_string)

안녕 잘지내니
안녕잘지내니

## 다양한 확인 메소드 : 참/거짓 반환
```
.isalpha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .isupper(), .istitle(), .islower()
```

In [ ]:
# 다음 명령어로 문자열 메소드를 확인할 수 있습니다.

dir('string')

In [ ]:
# isalpha()
# 문자열이 알파벳 문자로만 구성되어 있는지 혹인
'justin'.isalpha() # True
'justin100'.isalpha() # False


### 'isdecimal', 'isdigit', 'isnumeric' 차이점

` str.isdecimal()`
: 우리가 일반적으로 생각하는 숫자 : 엄격

` str.isdigit()`
: 숫자처럼 생긴 모든 글자를 숫자로 인식(특수문자 -> 숫자) :조금 관대

` str.isnumeric()`
: 숫자를 표현하기 위해 들어있는 특수 기호까지 숫자로 인식 :아주 관대

[stackoverflow](https://stackoverflow.com/questions/44891070/whats-the-difference-between-str-isdigit-isnumeric-and-isdecimal-in-python/44891278)

In [2]:
#1. 일반적인 숫자
text1 = "031"
text1.isdecimal()
text1.isdigit()
text1.isnumeric()

True

In [3]:
#2. 숫자처럼 생긴 특수 문자
text2 = '2³'
text2.isdecimal()
text2.isdigit()
text2.isnumeric()

True

In [3]:
#3. 숫자 표현 안에 특수 기호가 들어간 경우
text3 = '½'
text3.isdecimal()
# text3.isdigit()
# text3.isnumeric()

False

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값(object)을 추가할 수 있습니다.

In [ ]:
# 카페 리스트를 만들어봅시다.

In [6]:
#
cafe = ['starbucks', 'TMT', 'Twosome']

In [ ]:
# 값을 추가해봅시다.

In [7]:
#
cafe.append('caffebene')
print(cafe)

['starbucks', 'TMT', 'Twosome', 'caffebene']

In [ ]:
# 한번 더 추가해봅시다.

In [8]:
# 
cafe.append('ediya')
print(cafe)

['starbucks', 'TMT', 'Twosome', 'caffebene', 'ediya']

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*유의*)의 element를 붙일 수가 있습니다.

In [ ]:
# 앞서 만든 리스트에 추가해봅시다.

In [9]:
#
cafe.extend(['droptop', '빽다방'])
print(cafe)

['starbucks', 'TMT', 'Twosome', 'caffebene', 'ediya', 'droptop', '빽다방']

In [ ]:
# 앞서 배운 list concatenate와 동일합니다.

In [10]:
#
cafe += ['mccafe', 'burgerking']
print(cafe)

['starbucks', 'TMT', 'Twosome', 'caffebene', 'ediya', 'droptop', '빽다방', 'mccafe', 'burgerking']

In [ ]:
# append와 비교해봅시다.

**(참고) `append`와 `extend` 차이점**
- `append()` : object를 리스트의 맨 뒤에 추가한다.
- `extend()` : iterable한 객체(list, tuple, dict)의 element를 list에 추가한다.

In [11]:
#
cafe.append(['coffenie'])
print(cafe)

['starbucks', 'TMT', 'Twosome', 'caffebene', 'ediya', 'droptop', '빽다방', 'mccafe', 'burgerking', ['coffenie']]

In [12]:
cafe.extend(['coffeegurunaru'])
print(cafe)

['starbucks', 'TMT', 'Twosome', 'caffebene', 'ediya', 'droptop', '빽다방', 'mccafe', 'burgerking', ['coffenie'], 'coffeegurunaru']

In [13]:
cafe.extend('coffegurunaru')
print(cafe)

['starbucks', 'TMT', 'Twosome', 'caffebene', 'ediya', 'droptop', '빽다방', 'mccafe', 'burgerking', ['coffenie'], 'coffeegurunaru', 'c', 'o', 'f', 'f', 'e', 'g', 'u', 'r', 'u', 'n', 'a', 'r', 'u']

In [15]:
test = [1, 2, 3]

In [16]:
test.append(4)
print(test)

[1, 2, 3, 4]

In [17]:
test.append([4, 5])
print(test)

[1, 2, 3, 4, [4, 5]]

In [18]:
test.extend('j')
print(test)

[1, 2, 3, 4, [4, 5], 'j']

In [19]:
test.extend('justin')
print(test)

[1, 2, 3, 4, [4, 5], 'j', 'j', 'u', 's', 't', 'i', 'n']

In [20]:
test.extend([1, 2])
print(test)

[1, 2, 3, 4, [4, 5], 'j', 'j', 'u', 's', 't', 'i', 'n', 1, 2]

In [21]:
test.append([1, 2])
print(test)

[1, 2, 3, 4, [4, 5], 'j', 'j', 'u', 's', 't', 'i', 'n', 1, 2, [1, 2]]

### `.insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [22]:
cafe.insert(0, 'hi')
print(cafe)

['hi', 'starbucks', 'TMT', 'Twosome', 'caffebene', 'ediya', 'droptop', '빽다방', 'mccafe', 'burgerking', ['coffenie'], 'coffeegurunaru', 'c', 'o', 'f', 'f', 'e', 'g', 'u', 'r', 'u', 'n', 'a', 'r', 'u']

In [ ]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.

In [40]:
#
cafe.insert(len(cafe), 'bye')
print(cafe)

['hi', 'starbucks', 'TMT', 'Twosome', 'caffebene', 'ediya', 'droptop', '빽다방', 'mccafe', 'burgerking', ['coffenie'], 'coffeegurunaru', 'c', 'o', 'f', 'f', 'e', 'g', 'u', 'r', 'u', 'n', 'a', 'r', 'u', 'byebye', 'bye', 'byebye', 'byebyebye', 'bye']

In [ ]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다.

In [41]:
#
cafe.insert(-1, 'byebye')
print(cafe)

['hi', 'starbucks', 'TMT', 'Twosome', 'caffebene', 'ediya', 'droptop', '빽다방', 'mccafe', 'burgerking', ['coffenie'], 'coffeegurunaru', 'c', 'o', 'f', 'f', 'e', 'g', 'u', 'r', 'u', 'n', 'a', 'r', 'u', 'byebye', 'bye', 'byebye', 'byebyebye', 'byebye', 'bye']

In [ ]:
# 리스트의 길이를 넘어서는 인덱스는 마지막에 아이템이 추가됩니다.

In [25]:
#
cafe.insert(len(cafe)+100, "byebyebye")
print(cafe)

['hi', 'starbucks', 'TMT', 'Twosome', 'caffebene', 'ediya', 'droptop', '빽다방', 'mccafe', 'burgerking', ['coffenie'], 'coffeegurunaru', 'c', 'o', 'f', 'f', 'e', 'g', 'u', 'r', 'u', 'n', 'a', 'r', 'u', 'byebye', 'bye', 'byebyebye']

### `.remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [27]:
# remove를 사용해봅시다.
numbers = [1, 2, 3, 1, 2]

In [ ]:
# 중복된 값 1을 삭제 해봅시다.

In [28]:
# 앞에서부터 삭제해줍니다.
numbers.remove(1)
print(numbers)

[2, 3, 1, 2]

In [ ]:
# 한번 더 삭제해봅시다.

In [29]:
#
numbers.remove(1)
print(numbers)

[2, 3, 2]

In [ ]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.

In [30]:
#
numbers.remove(1)
print(numbers)

ValueError: list.remove(x): x not in list

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [7]:
# pop을 사용해봅시다.
numbers = [1, 2, 3, 4, 5, 6]

In [ ]:
# 가장 앞에 있는 것을 삭제해봅시다. return 값도 확인해보세요.

In [8]:
#
print(numbers.pop(0))
print(numbers)

1
[2, 3, 4, 5, 6]

In [ ]:
# 가장 뒤에 있는 것을 삭제해봅시다. return 값도 확인해보세요.

In [41]:
# 
print(numbers.pop())
print(numbers)

2
[3]

In [ ]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다.

In [9]:
# return이 있다는걸 아는게 너모너모 중요 ㅇㅈㅇㅈ
deleted_val = numbers.pop()
print(deleted_val)
print(numbers)

6
[2, 3, 4, 5]

### `.clear()`

리스트의 모든 항목을 삭제합니다.

In [ ]:
# clear를 사용해봅시다.

In [43]:
# 
numbers = list(range(1, 46))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]

In [44]:
test = numbers.clear()
print(numbers)
print(test) #return이 없는 친구구나

[]
None

## 탐색 및 정렬

### `.index(x)`

x 값을 찾아 해당 index 값을 반환합니다.

In [31]:
# index를 사용해봅시다.
a = [1, 2, 3, 4, 5]

In [32]:
#
a.index(3)

2

In [ ]:
# index는 없을 시 오류가 발생합니다. 확인해봅시다. 
# 앞서 remove 역시도 같은 에러가 발생하였습니다. (ValueError)

In [ ]:
a.index(6)

### `.count(x)`

원하는 값의 개수를 확인할 수 있습니다.

In [33]:
# count를 사용해봅시다.
a = [1, 2, 5, 1, 5, 1]

In [34]:
#
a.count(1)

3

In [ ]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.

In [48]:
#
numbers = [1, 2, 1, 3, 4]

target_value = 1

for i in range(numbers.count(target_value)):
    numbers.remove(target_value)

In [ ]:
# 모두 삭제되었는지 검증해봅시다.

In [49]:
#
print(numbers)

[2, 3, 4]

In [ ]:
#
target_value in numbers

### `.sort()`

정렬을 합니다. 

내장함수 `sorted()` 와는 다르게 **원본 list를 변형**시키고, **None**을 리턴합니다.

In [50]:
# 기본 정렬은 오름차순 정렬

import random
lotto = random.sample(range(1, 46), 6)
print(lotto)

[7, 2, 32, 26, 4, 29]

In [51]:
# sort() 를 사용해봅시다.

print(lotto.sort())
print(lotto)

None
[2, 4, 7, 26, 29, 32]

In [ ]:
# .sort를 내림차순 정렬 한다면?
lotto.sort(reverse=True) # 내림차순 정렬
print(lotto)

In [ ]:
# .sort() vs sorted() (method vs 함수)
# .sort()

sample_list = [7, 4, 6, 2, 1]

test = sample_list.sort()
print(test)
print(sample_list)

In [ ]:
# .sorted()

sample_list = [7, 4, 6, 2, 1]

test = sorted(sample_list)
print(test)
print(sample_list)

### `.reverse()`

> 반대로 뒤집습니다. **(정렬 아님)**

In [52]:
#  .reverse()
classroom = ['Tom', 'David', 'Justin']

test = classroom.reverse()
print(test)
print(classroom)

None
['Justin', 'David', 'Tom']

In [53]:
# reversed() @map함수와 비슷

classroom = ['Tom', 'David', 'Justin']

test = reversed(classroom)
print(test)
print(list(test))

print(classroom)

<list_reverseiterator object at 0x000001762A92B860>
['Justin', 'David', 'Tom']
['Tom', 'David', 'Justin']

## 복사

In [54]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]

In [55]:
#
copy_list = original_list
print(copy_list)

[1, 2, 3]

In [ ]:
# copy_list의 값을 바꾸고 original_list와 copy_list를 출력해봅시다.

In [59]:
#
copy_list[0] = 5
print(original_list)
print(copy_list)

# [python tutor](http://pythontutor.com/visualize.html#mode=display)

[5, 2, 3]
[5, 2, 3]

In [ ]:
# id 값을 확안해봅시다.

In [60]:
#
print(id(copy_list) == id(original_list))

True

In [62]:
# 숫자를 확인해봅시다.

a = 20005
b = a
print(a, b)
b = 30005
print(a, b)

20005 20005
20005 30005

In [ ]:
#

In [ ]:
# 딕셔너리도 확인해봅시다.

In [63]:
#
lunch = {
    '김밥천국' : '치즈라면',
    '김가네' : '제육볶음'}

dinner = lunch
dinner['김밥천국'] = '참치김밥'

print(dinner)
print(lunch)

{'김밥천국': '참치김밥', '김가네': '제육볶음'}
{'김밥천국': '참치김밥', '김가네': '제육볶음'}

### copy
> 위 코드를 [pythontutor](http://pythontutor.com/) 를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 **객체의 주소**를 가지고 있을 뿐이다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 `[1, 2, 3]` 이라는 객체를 생성하고, 변수에는 객체의 주소가 저장된다.


* 기본형(primitive)과 참조형(reference)은 서로 다르게 동작한다.
    - 결과적으로 기본/참조의 차이 때문에 복사를 해야한다.
    

* ~~변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작한다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야합니다.

In [64]:
# 숫자
number1 = 123456
number2 = 123456
number3 = number1

print(id(number1))
print(id(number2))
print(id(number3))

1607030872368
1607030873072
1607030872368

In [65]:
# -5 ~ 256

fixed1 = 200
fixed2 = 200
fixed3 = fixed1
print(id(fixed1))
print(id(fixed2))
print(id(fixed3))

140716652985200
140716652985200
140716652985200

In [66]:
# 문자 - 

string1 = 'mindy' # mindy!
string2 = 'mindy' # mindy!
string3 = string1

print(id(string1))
print(id(string2))
print(id(string3))

1607031321912
1607031321912
1607031321912

In [4]:
# 리스트
list1 = [1, 2, 3]
list2 = [1, 2, 3]
list3 = list1

print(id(list1))
print(id(list2))
print(id(list3))

1940572893448
1940572893384
1940572893448

### 간단 정리

1. 원시 자료형이든 참조 자료형이든 관계없이 value가 같아도 다른 메모리 위에 올라간다.
2. `c = a` 처럼 값을 할당한 경우에는 같은 메모리 주소를 참조하게 된다.(가리킨다.)
3. 이때 참조 자료형의 경우 단순 할당을 하게 되면 동일한 객체를 가리키기 때문에 값의 변화를 주는 시점에 동일하게 변화의 결과가 적용된다.
4. 3과 같은 문제를 방지하기 위해 3가지 방법으로 복사를 진행한다. (shallow copy)
    - slicing
    - list()
    - copy 모듈
5. 단, 2차원 이상의 배열 내에서는 shallow copy로는 depth가 있는 배열의 복사는 안되기 때문에(완전한 복사가 아님) 이때는 `deepcopy`를 사용한다.

In [ ]:
# 리스트를 복사해봅시다.

In [70]:
#1. slicing
a = [1, 2, 3]
b = a[:]

b[0] = 5

print(a)
print(b)

[1, 2, 3]
[5, 2, 3]

In [ ]:
# 다른 방법으로 복사해봅시다.

In [31]:
#2. list()의 리턴값을 활용
a = [1, 2, 3]
b = list(a)

b[0] = 5
print(a)
print(b)

[1, 2, 3]
[5, 2, 3]

In [32]:
#3. copy module 활용
import copy

a = [1, 2, 3]
b = copy.copy(a)

b[0] = 5
print(a)
print(b)

[1, 2, 3]
[5, 2, 3]

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 `다른 얕은 복사(shallow copy)`이다.

In [ ]:
# 2차원 배열을 복사해봅시다.

In [33]:
#

a = [1, 2, [1, 2]]
b = a[:]

b[0] = 7
b[2][0] = 5
print(a)
print(b)

[1, 2, [5, 2]]
[7, 2, [5, 2]]

* 만일 중첩된 상황에서 복사를 하고 싶다면, `깊은 복사(deep copy)`를 해야한다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경된다.

In [ ]:
# 깊은 복사를 사용해봅시다.

In [ ]:
#
import copy

a = [1, 2, [1, 2]]
b = copy.deepcopy(a)

b[2][0] =3
print(a)
print(b)

In [ ]:
# python tutor에 돌려보세요.

import copy

test1 = ['justin', 'john', 1, 2, 3, [1, 2, 3]]
test2 = test1
test3 = [2, 4, test1]
test4 = test2[:]
test5 = copy.deepcopy(test2)

test4[0] = 'hello'
test3[2][0] = 'harry'

print(test1)
print(test2)
print(test3)

## List Comprehension

List Comprehension은 리스트안에 식, for 문을 지정합니다.
여러 줄의 코드를 한 줄로 줄일 수 있습니다.

---

**활용법**

```python
[식 for 변수 in iterable]

list(식 for 변수 in iterable)
```

### 세제곱 리스트

> 다음의 리스트를 작성하세요.
- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [ ]:
a = range(1, 11)

In [ ]:
# 반복문을 활용하여 만들어주세요.

cubic_list = []

for i in a:
    cubic_list.append(i**3)
print(cubic_list)

In [ ]:
#

In [ ]:
# List Comprehension

In [ ]:
#
cubic_list = [i**3 for i in a]
print(cubic_list)

In [ ]:
# 1부터 9까지의 수를 제곱한 값을 리스트에 넣기
# for
mul_list = []

for i in range(1, 10):
    mul_list.append(i**2)
print(mul_list)

In [ ]:
# list comprehension
mul_list = [i**2 for i in range(1, 10)]

mul_list2 = list(i**2 for i in range(1, 10))
print(mul_list)
print(mul_list2)

## List Comprehension + 조건문

조건문에 참인 식으로 리스트를 생성합니다.

---

**활용법**

```python
[식 for 변수 in iterable if 조건식]

[식 if 조건식 else 식 for 변수 in iterable]

# elif 는 다음과 같이 사용해야 합니다. (if else 열거)
[식 if 조건식 else 식 if 조건식 else 식 if ... else ... for 변수 in iterable]
```

### 짝수리스트
> 다음의 리스트를 작성하세요.

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [ ]:
# 반복문을 활용하여 만들어주세요.

In [ ]:
#
even_list = []
for i in range(1, 11):
    if i % 2 == 0:
        even_list.append(i)
        
print(even_list)

In [ ]:
# List Comprehension

In [ ]:
# 
even_list = [i for i in range(1, 11) if i % 2 == 0]
print(even_list)

In [ ]:
# if - else 구문의 활용
# 50 이상의 숫자는 7을 더하고 그렇지 않은 경우는 
# 5를 더한 결과의 list를 만들어주세요.

In [ ]:
sample_list = [10, 20, 30, 40, 50, 60, 70, 80, 90]
numbers = [i + 7 if i >=50 else i + 5 for i in sample_list]

print(numbers)
# i + 7 if i >= 50 else i + 5 for i in sample_list

In [ ]:
# 구구단 만들기 -> 중첩된 리스트 컴프리핸션

gugu = [i * b for i in range(2, 10)
              for b in range(1, 10)] # 가독성을 위해 이렇게 쓰기도,,,

print(gugu)

### 곱집합 - 실습 1

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 작성하세요.
1. 반복문 활용
2. list comprehension 활용

```python
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']
```

---

```
예시 출력)    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [ ]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [ ]:
# 반복문을 활용하여 작성하세요.

In [ ]:
#
couple = []

for girl in girls:
    for boy in boys:
        couple.append((boy, girl))

print(couple)

In [ ]:
# List comprehension을 활용하여 작성하세요.

In [ ]:
#

pair = [(boy, girl) for boy in boys for girl in girls]
print(pair)

### 피타고라스 정리 - 실습 2

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾으세요.
1. 반복문 활용
2. list comprehension 활용

---

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [ ]:
# 반복문을 활용하여 작성하세요.

In [ ]:
#
result = []

for x in range(1, 50):
    for y in range(x, 50):
        for z in range(y, 50):
            if x ** 2 + y ** 2 == z ** 2:
                result.append((x, y, z))
                
print(result)

In [ ]:
# List comprehension을 활용하여 작성하세요.

In [ ]:
# 
result = [(x, y, z) for x in range(1, 50) for y in range(x, 50) for z in range(y, 50) if x ** 2 + y ** 2 == z **2]
print(result)

### 모음 제거하기 - 실습 3

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하세요.

```python
words = 'Life is too short, you need python!'
```

---

```
예시 출력)
Lf s t shrt, y nd pythn!
```

In [ ]:
words = 'Life is too short, you need python!'

In [ ]:
# 반복문을 활용하여 작성하세요.

In [ ]:
#
result = []

vowels = 'aeiou'

for char in words:
    if char not in vowels:
        result.append(char)
        
print(''.join(result))

In [ ]:
# List comprehension을 활용하여 작성하세요.

In [ ]:

vowels = 'aeiou'

result = [char for char in words if char not in vowels]

print(''.join(result))

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다(return). 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [10]:
# pop을 사용해봅시다.

my_dict = {'apple': '사과', 'banana': '바나나', 'grape': '포도'}

In [11]:
# 
my_dict.pop('apple')
print(my_dict)

{'banana': '바나나', 'grape': '포도'}

In [ ]:
# return 되는 값을 변수에 담을 수 있습니다.

In [ ]:
# 
#value return
test = my_dict.pop('grape')
print(test)

In [ ]:
# 딕셔너리에 key가 없으면 keyError가 발생합니다.

In [ ]:
#
test = my_dict.pop('melon')
print(test)

In [ ]:
# 두번째 인자로 default를 설정할 수 있습니다. 이 경우 key가 없어도 2번째 인자로 설정한 값을 return 합니다.

In [ ]:
#

my_dict.pop('melon', 'justin')

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

In [ ]:
# update를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

In [ ]:
#
my_dict.update(watermelon = '수박') # 'watermelon' = '수박' X
print(my_dict)

In [ ]:
# 기존에 key가 있으면 새롭게 덮어쓴다.
my_dict.update(apple='사과아')
print(my_dict)

In [ ]:
# 여러 개를 한번에 업데이트 할 수도 있습니다.

In [ ]:
#
my_dict.update(grape = '포도', mango = '망고')
print(my_dict)

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [ ]:
# []를 사용해 없는 key로 value를 꺼내 봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict['pineapple']

In [ ]:
# .get()을 활용해 봅시다.
print(my_dict.get('pineapple', 0)) # default value : none이 아닌 다른 값을 설정할 수 있습니다.
print(my_dict.get('apple'))

In [ ]:
# .get 메서드의 2번째 인자를 활용해서 key가 없는 경우에도 key : value pair를 추가할 수 있습니다.

scores = {'math' : 90, 'cs' : 100, 'history' : 85}

In [ ]:
# 존재하지 않는 키를 사용해봅시다.
scores[korea]

In [ ]:
# .get 메서드들 활용해봅시다.
scores.get('korean')

In [ ]:
# .get() 메서드의 2번째 인자를 활용해 해당 key가 존재하지 않을 때 새로운 key-value를 추가해봅시다.
scores['korean'] = scores.get('korean', 95)
print(scores)

#### `setdefault`의 활용

`.get()`
- 해당 key가 존재하지 않을 때 `None`을 return
- `None`이 아닌 다른 값을 return하도록 default 세팅을 변경할 수 있음
- 하지만 해당 설정이 딕셔너리 자체에 영향을 주지는 않는다.

`.setdefault()`
- 해당 key가 존재하지 않을 때 return할 value를 설정
- `.get()`과의 차이점은 **딕셔너리 자체에 해당 key-value 가 설정된다. **
- 만약에 key가 존재하면 해당하는 value를 return한다.

In [42]:
# .get()

dust = {
    '서울' : 89,
    '대전' : 20,
    '광주' : 30
}

print(dust.get('구미'))
print(dust.get('구미', 40))
print(dust)

dust['구미'] = dust.get('구미', 40) # 딕셔너리에 key-value를 추가하는 방법
print(dust)

None
40
{'서울': 89, '대전': 20, '광주': 30}
{'서울': 89, '대전': 20, '광주': 30, '구미': 40}

In [43]:
# .setdefault()  --> 초기값 설정에 많이 활용함

dust = {
    '서울' : 89,
    '대전' : 20,
    '광주' : 30
}

print(dust.setdefault('구미', 30))
print(dust)
print(dust.setdefault("서울"))

30
{'서울': 89, '대전': 20, '광주': 30, '구미': 30}
89

## Dictionary comprehension

dictionary도 list처럼 comprehension 문법을 활용 할 수 있습니다.

---

**활용법**

```python
{키: 값 for 키, 값 in 딕셔너리}

dict({키: 값 for 키, 값 in 딕셔너리})

{키: 값 for 키, 값 in 딕셔너리 if 조건식}

{키: 값 if 조건식 else 값 for 키, 값 in 딕셔너리}

```

In [ ]:
# dictionary comprehension

In [ ]:
#
cubic = {x: x**3 for x in range(1, 8)}
print(cubic)

### Dictionary comprehension 사용해보기

In [ ]:
dusts = {'서울':72, '대전':82, '구미':29, '광주':45, '중국':200 }

In [ ]:
# 미세먼지 농도가 80 초과 지역만 뽑아주세요.
# 예) {'대전': 82, '중국': 200}

high_dust = {key: value for key, value in dust.items() if value > 80}
print(high_dust)

In [ ]:
# key가 기준이 되어도 된다

high_dust = {key: value for key, value in dust.items() if key == '서울'}

In [ ]:
# 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꾸세요.

In [ ]:
#
result = {key: '나쁨' if value > 80 else '보통' for key, value in dusts. items()}
print(result)

In [ ]:
# elif 도 사용할 수 있습니다. (if else 열거)
150 초과 : 매우나쁨
80 <= dust <= 150 나쁨
30 <= dust <= 80 보통
dust < 30 좋음

In [ ]:
#
result = {key: '매우 나쁨' if value > 150 else '나쁨' if value >= 80 else '보통' if value >= 30 else '좋음' for key, value in dusts.items()}
print(result)

# 세트 메소드 활용

**참고 - set의 특징**
- 순서가 없다. 인덱싱 x
- 집합의 요소는 unique합니다. 즉 중복을 허용하지 x
- 집합 자체는 수정될 수 있지만, 포함된 요소는 immutable 해야 한다.

In [2]:
#1. 순서가 없다. - 계속 순서가 바뀌어 print 됨 so, indexing 접근 ㄴㄴ해

sample_set = {'justin', 'tak', 'neo', 'john'}
print(sample_set) # print(sample_set[0]) ㄴㄴ

{'john', 'tak', 'justin', 'neo'}

In [3]:
#2. 중복을 허용하지 않는다. 중복 제거에 많이 사용

sample_set = {'justin', 'tak', 'neo', 'john', 'justin'}
print(sample_set)

{'john', 'tak', 'justin', 'neo'}

In [9]:
word = 'zzzzzang'
print(list(word))
print(list(set(word))) # 중복제거

['z', 'z', 'z', 'z', 'z', 'a', 'n', 'g']
['z', 'a', 'g', 'n']

In [10]:
#3. 집합 자체는 수정/추가 될 수 있지만, 포함된 요소는 immutable 해야 한다.
sample_set = {'justin', 'tak', 'neo', 'john'}
sample_set.add('juan')
print(sample_set)

{'john', 'juan', 'justin', 'tak', 'neo'}

In [12]:
sample_set.add(['a', 'b', 'c']) # mutable한 자료는 들어갈 수 없다.

TypeError: unhashable type: 'list'

In [14]:
#4. containment test 가능

fruits = {'사과', '바나나', '수박'}
'바나나' in fruits
'뀰' not in fruits

True

In [18]:
#5. set vs dict
a = set()
print(type(a))

b = {2, } # 빈 {}는 type. dictionary로 인식한다.
print(type(b))

<class 'set'>
<class 'set'>

In [20]:
#6. set comprehension

result = {char for char in '안녕하세요'}
print(result)

{'하', '안', '세', '요', '녕'}

In [22]:
numbers = [1, 2, 1, 1, 3, 3, 4, 4, 2]
new_set = list({num for num in numbers})
print(new_set) # 중복 제거야 야야야야ㅑ야야

[1, 2, 3, 4]

## 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [ ]:
# add를 사용해봅시다.

fruits = {'사과', '바나나', '수박'}

In [24]:
#

fruits.add('포도')
print(fruits)
fruits.add('포도')
print(fruits) # 중복 앤됀대긔

{'바나나', '포도', '수박', '사과'}
{'바나나', '포도', '수박', '사과'}

### `.update(*others)`

여러가지의 값을 추가합니다.

여기서 반드시 iterable한 값을 넣어야합니다.

In [26]:
# update를 사용해봅시다.

a = {'사과', '바나나', '수박'}

In [27]:
#
a.update({'토마토', '토마토', '딸기'}, {'포도', '레몬'})
print(a)

{'바나나', '토마토', '레몬', '포도', '사과', '수박', '딸기'}

In [28]:
#
a.update(['사과', '배'])
print(a)

{'바나나', '토마토', '레몬', '포도', '배', '사과', '수박', '딸기'}

In [32]:
a.update('justin')
print(a)

{'배', '사과', 's', 'j', '레몬', '포도', 'd', 'm', 'i', 'y', '수박', 'u', '바나나', '토마토', 't', 'n', '딸기'}

In [30]:
# 만약 iterable 하지 않은 객체를 넣으면?
a.update(1234)
print(a)

TypeError: 'int' object is not iterable

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [34]:
# remove를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [35]:
#
a.remove('사과')
print(a)

{'바나나', '수박'}

In [36]:
a.remove('apple')
print(a)

KeyError: 'apple'

### `.discard(elem)`
x를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [ ]:
# discard를 사용해봅시다.

In [37]:
#
a = {'사과', '바나나', '수박'}

In [39]:
a.discard('수박')
print(a)

{'바나나', '사과'}

In [40]:
a.discard('수박') # key error ㄴㄴ해
print(a)

{'바나나', '사과'}

### `.pop()`

**임의의 원소**를 제거해 반환합니다.

In [42]:
# pop을 사용해봅시다.
a = {'사과', '바나나', '수박', '아보카도'}

In [54]:
#
print(a.pop())
print(a)

KeyError: 'pop from an empty set'

#  `map()`, `zip()`, `filter()`

## `map(function, iterable)`

* Iterable의 모든 요소에 function을 적용한 후 그 결과를 돌려준다. 


* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range


* return은 `map_object` 형태이다. # cf. range

In [55]:
numbers = [1, 2, 3]

# 위의 코드를 문자열 '123'으로 만드세요

In [56]:
# list comprehension

In [57]:
#
string_list = [str(num) for num in numbers]
new_numbers = ''.join(string_list)
print(new_numbers)

123

In [ ]:
#

In [ ]:
# map

In [61]:
#
new_numbers = map(str, numbers)
print(new_numbers)
string_numbers = list(new_numbers)
print(string_numbers)
print(''.join(string_numbers))

<map object at 0x0000013D40459438>
['1', '2', '3']
123

In [ ]:
numbers = ['1', '2', '3']

# 위의 코드를 숫자 '123'으로 만드세요

In [ ]:
# list comprehension

In [67]:
#
new_num = [int(num) for num in numbers]
print(new_num)

[1, 2, 3]

In [ ]:
# map

In [68]:
#
new_num = map(int, numbers)
print(list(new_num))
print(''.join(new_num))

new_num = list(map(int, numbers))
print(new_num)
print(''.join(new_num))

[1, 2, 3]

[1, 2, 3]

TypeError: sequence item 0: expected str instance, int found

첫번째 인자 function은 사용자 정의 함수도 가능합니다.

In [ ]:
# 세제곱의 결과를 나타내는 함수

In [69]:
# 
def cube(n):
    return n**3

In [70]:
numbers = [1, 2, 3]

new_numbers = list(map(cube, numbers))
print(new_numbers)

[1, 8, 27]

In [71]:
# (실습) 
# 사용자 정의 함수 square를 만들고(들어오는 인자를 제곱해서 return) 
# map함수를 활용해 아래 numbers의 요소를 제곱한 값을 doubled_list 변수에 담아 출력하시오
numbers = [2, 4, 6, 8, 10]

In [72]:
# 사용자 정의 함수 sqaure

def square(n):
    return n**2

In [73]:
# map 함수

doubled_list = list(map(square, numbers))
print(doubled_list)

[4, 16, 36, 64, 100]

## `zip(*iterables)` 

* 복수의 iterable 객체를 모아준다.


* 결과는 튜플의 모음으로 구성된 `zip object` 를 반환한다.

In [35]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [ ]:
# 한 명씩 순서대로 매칭시켜봅시다.
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

In [36]:
# 
list(zip(girls, boys))

[('jane', 'justin'), ('iu', 'david'), ('mary', 'kim')]

In [ ]:
# dictionary comprehension

In [37]:
# 마지막 요소 덮어쓴다능 ㅜ.ㅜ
result = {girl: boy for girl in girls for boy in boys}
print(result)

{'jane': 'kim', 'iu': 'kim', 'mary': 'kim'}

In [ ]:
# zip

In [79]:
#
result = {girl: boy for girl, boy in zip(girls, boys)}
{girl:boy for girl, boy in zip(girls, boys)}
print(result)

{'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

In [ ]:
# 다른 예시도 알아봅시다.

In [81]:
# zip 도 iterable...
a = '123'
b = '567'

for digit_a, digit_b in zip(a, b):
    print(digit_a, digit_b)

1 5
2 6
3 7

* zip은 반드시 길이가 같을 때 사용해야한다. 다르다면 가장 짧은 것을 기준으로 구성한다.

In [104]:
#

num1 = [1, 2, 3]
num2 = ['1', '2']

list(zip(num1, num2))

list(zip(num1, num2))

[(1, '1'), (2, '2')]

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다

In [103]:
#
from itertools import zip_longest
list(zip_longest(num1, num2, fillvalue = 0))

from itertools import zip_longest
list(zip_longest(num1, num2, fillvalue = 0))

[(1, '1'), (2, '2'), (3, 0)]

## `filter(function, iterable)`

* iterable에서 function의 반환된 결과가 `True` 인 것들만 구성하여 반환한다.


* `filter object` 를 반환한다.

In [ ]:
# 홀수인지 판단하는 코드를 작성하세요.

In [92]:
#
def odd(n):
    return n % 2

numbers = [1, 2, 3]
list(filter(odd, numbers))

[1, 3]

In [99]:
def odd(n):
    return n % 2
    
numbers = [1, 2, 3]
list(filter(odd, numbers))

[1, 3]

In [ ]:
# 다음의 list comprehension과 동일하다.

In [102]:
# 
sample1 = [num for num in numbers if odd(num)]
print(sample1)


sample1 = [num for num in numbers if odd(num)]


sample2 = [num for num in numbers if num % 2]
print(sample2)

[1, 3]
[1, 3]